# disabling triggering from pushes - since this is uat - cd inclined
trigger: none

parameters:
- name: environment
  displayName: Target environment
  type: string
  default: uat
  values:
    - dev
    - uat
    - production

pool:
  name: Self Hosted - Rauni's PC

variables: # conditional variable groups based on environment
- ${{ if eq(parameters.environment, 'dev') }}:
  - group: DEV-VARS
- ${{ if eq(parameters.environment, 'uat') }}:
  - group: UAT-VARS
- ${{ if eq(parameters.environment, 'production') }}:
  - group: PROD-VARS

stages:
- stage: TestAndRun
  displayName: Test + Run (${{ parameters.environment }})
  jobs:
  - job: Job
    displayName: Unit tests and output artifact
    steps:
    - checkout: self

    - script: |
        python --version
        python -m pip --version
      displayName: Check Python

    - script: |
        python -m pip install --upgrade pip
        python -m pip install pytest
      displayName: Install pytest

    - script: |
        python -m pytest -q
        if %ERRORLEVEL%==5 (
          echo No tests found. Skipping.
          exit /b 0
        )
      displayName: Run tests (skip if none)
      env:
        ENVIRONMENT: ${{ parameters.environment }}
        GREETING_TARGET: "$(GREETING_TARGET)"
        BUILD_BUILDID: "$(BUILD_BUILDID)"



    # ---- TERRAFORM STEPS BY RAUNI RIBEIRO ---- #

    - script: | # initializing terraform
        terraform -version
        terraform init -input=false
      displayName: Terraform init
      workingDirectory: infra

    - script: | # planning terraform infra changes
        terraform  plan -var-file="../.tfvars/${{ parameters.environment }}.tfvars" -input=false
      displayName: Terraform plan
      workingDirectory: infra

    - script: | # applying terraform infra changes
        terraform apply -auto-approve -var-file="../.tfvars/${{ parameters.environment }}.tfvars" -input=false
      displayName: Terraform apply
      workingDirectory: infra
      condition: and(succeeded(), eq('${{ parameters.environment }}', 'uat')) # only apply in UAT lock

    - script: | # outputting terraform extracted values
        terraform output
      workingDirectory: infra
      displayName: Terraform output

    - script: |
        python -c "import os; os.makedirs('out', exist_ok=True)"
      displayName: Ensure out/ exists

    - script: | # creating output artifact
        python main.py
      displayName: Run app (creates out/message.txt)
      env:
        ENVIRONMENT: ${{ parameters.environment }}
        GREETING_TARGET: "$(GREETING_TARGET)"
        BUILD_BUILDID: "$(BUILD_BUILDID)"

    - publish: out
      artifact: demo-output
      displayName: Publish artifact