# disabling triggering from pushes - since this is uat - cd inclined
trigger: none

parameters:
- name: environment
  displayName: Target environment
  type: string
  default: uat
  values:
    - dev
    - uat
    - production

pool:
  name: Self Hosted - Rauni's PC

variables:
- group: UAT-VARS

stages:
- stage: TestAndRun
  displayName: Test + Run (${{ parameters.environment }})
  jobs:
  - job: Job
    displayName: Unit tests and output artifact
    steps:
    - checkout: self

    - script: |
        python --version
        python -m pip --version
      displayName: Check Python

    - script: |
        python -m pip install --upgrade pip
        python -m pip install pytest
      displayName: Install pytest

    - script: |
        python -m pytest -q
        if %ERRORLEVEL%==5 (
          echo No tests found. Skipping.
          exit /b 0
        )
      displayName: Run tests (skip if none)
      env:
        ENVIRONMENT: ${{ parameters.environment }}
        GREETING_TARGET: "$(GREETING_TARGET)"
        BUILD_BUILDID: "$(BUILD_BUILDID)"

    - script: |
        python -c "import os; os.makedirs('out', exist_ok=True)"
      displayName: Ensure out/ exists

    - script: |
        python -m app.main
      displayName: Run app (creates out/message.txt)
      env:
        ENVIRONMENT: ${{ parameters.environment }}
        GREETING_TARGET: "$(GREETING_TARGET)"
        BUILD_BUILDID: "$(BUILD_BUILDID)"

    - publish: out
      artifact: demo-output
      displayName: Publish artifact
